* {
    box-sizing: border-box;
    margin: 0;
    padding : 0;

}

body {
    background-image: url('graph background.jfif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.container{
    max-width: 1120px;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;
    padding-left: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    height:85vh;
    overflow: none;
    background-color: white;
    justify-content: center;
    align-content: center;
    border: 2px solid rgba(73, 72, 72, 0.842);
    box-shadow: 5px 5px 10px 0;
    padding-left: 30px;

}
.flex-container{ 
    display: grid;
    grid-template-rows: 80% 20%;
    width: 95%;
    height: 85%;
    margin: auto;
}
.flex-child-img{
    width:95%;
    height:95%;
}

.flex-child-text{
    border: 1px solid rgba(73, 72, 72, 0.842);
    border-radius: 5px;
    width : 95%;
    height: 100%;
    text-align: center;
}
.flex-child-text h1{
     color:hsl(212, 21%, 14%) ;
     font-size: 80%;
     margin-top: 2px;
}
.flex-child-text p {
    color : hsl(158, 36%, 37%);
    font-size: 22px;
}
.flex-child-text  span {
   display: inline-block;
   color: rgba(158, 9, 9, 0.651);
   padding-left: 3px;
   font-size: 1rem;
}
.btn-primary {
  display: inline-block;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 2px;
}

@media (max-width: 850px) {
    .flex-container{ 
        display: grid;
        grid-template-rows: 80% 20%;
        width: 95%;
        height: 100%;
        margin: auto;
    }
}

@media (max-width: 750px) {
    .flex-container{ 
        display: grid;
        grid-template-rows: 80% 20%;
        width: 95%;
        height: 90%;
        margin: auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: auto;
        overflow: none;
        background-color: white;
        justify-content: space-around;
        align-content: space-between;
        border: 2px solid rgba(73, 72, 72, 0.842);
        box-shadow: 5px 5px 10px 0;
        padding-top: 30px;
        padding-left: 30px;
        margin: 30px;
    
    }
    .flex-child-text{
        border: 1px solid rgba(73, 72, 72, 0.842);
        border-radius: 5px;
        width : 95%;
        height: 100%;
        text-align: center;
    }
    .flex-child-text h1{
         color:hsl(212, 21%, 14%) ;
         font-size: 100%;
         margin-top: 10px;
    }
    .flex-child-text p {
        color : hsl(158, 36%, 37%);
        font-size: 2rem;
    }
    .flex-child-text  span {
       display: inline-block;
       color: rgba(158, 9, 9, 0.651);
       padding-left: 6px;
       font-size: 1rem;
    }
    .btn-primary {
      display: inline-block;
      background-color: hsl(158, 36%, 37%);
      color: hsl(0, 0%, 100%);
      padding: 15px 40px;
      border: none;
      border-radius: 20px;
      margin-bottom: 2px;
    }
}

@media (max-width: 599px) {
    .flex-child-text{
        border: none;
        width : 85%;
        height: 100%;
        text-align: center;
        justify-self: center;
        align-content: center;
        padding-top: 2px;
    }
    .flex-child-text h1{
         color:hsl(212, 21%, 14%) ;
         font-size: 80%;
         margin-top: 5px;
    }
    .flex-child-text p {
        color : hsl(158, 36%, 37%);
        font-size: 1rem;
    }
    .flex-child-text  span {
       display: inline-block;
       color: rgba(158, 9, 9, 0.651);
       padding-left: 3px;
       font-size: 13px;
    }
    .btn-primary {
      display: inline-block;
      background-color: hsl(158, 36%, 37%);
      color: hsl(0, 0%, 100%);
      padding: 7px 10px;
      border: none;
      border-radius: 20px;
      margin-bottom: 2px;
    }
    .flex-container{ 
        display: grid;
        grid-template-rows: 70% 30%;
        width: 95%;
        height: 90%;
        margin: auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        height: auto;
        overflow: none;
        background-color: white;
        justify-content: space-around;
        align-content: space-between;
        border: 2px solid rgba(73, 72, 72, 0.842);
        box-shadow: 5px 5px 10px 0;
        padding-top: 30px;
        padding-left: 20px;
        margin: 30px;
    
    }
}